#
# - matplotlib requests python-tk library
#   According with your python3 version (Ubuntu)
#   sudo apt-get install python3-tk
#   sudo apt-get install python3.5-tk
#   sudo apt-get install python3.6-tk
#   sudo apt-get install python3.7-tk
#   sudo apt-get install python3.7-tk
#   sudo apt-get install python3.7-tk
#   

numpy>=1.18
scipy>=1.4
matplotlib>=3.2
ipython>=7.13
jupyterlab>=2.0
ipympl>=0.5.8
ipywidgets>=7.5.1
tensorflow>=2.5.0